html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0 auto;
}

body * {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
}

footer address {
    display: inline-block;
    color: #8a8a8a;
    font-size: 1.3rem;
}

footer .social {
    float: right;
}

.fa {
    cursor: pointer;
}

.social .fa {
    font-size: 2.8rem;
    display: inline-block;
    margin-left: 1rem;
}

.social .fa-github-alt {
    color: #b37776;
}

i.fa-home, i.fa-bars {
    font-size: 2.8rem;
    color: #FFFFFF;
}

.white-text {
    color: #FFFFFF;
}

main {
    padding-top: 30px;
    flex: 1;
}

.landing {
    height: 90%;
}

.contact {
    text-align: center;
    padding: 10px;
}

hr {
    border: 0;
    height: 2px;
    width: 90%;   
 }

.main-wrapper {
    min-height: 100vh;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.landing-container {
    text-align: center;
    font-size: 4rem;
    padding: 7% 0;
    color: #FFFFFF;
}

.container .landing-info {
    background-color: transparent;
}

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter {
  opacity: 0;
}

.nav-item {
    transition: all 1s ease;
}

.nav-item:hover {
    background: rgba(0,56,54,0.5);
}

#nav_collapse > ul > ul > li > a {
    color: #FFFFFF;
    font-size: 1.2rem;
}

@media screen and (max-width: 680px){

.landing-container.col.align-self-center > .landing-info {
    font-size: 2rem;

    }
}